<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
  <title>SC Imagen On Second Screen</title>
  <link rel="stylesheet" href="./css/main.min.css" />
</head>

<body>
  <section id="home">

    <div class="controls_1">
      <div id="drop">Solte aqui!</div>
      <input type="button" value="Adcionar" id="add_img">
    </div>

    <div id="midias_list"><!-- via js --></div>
  </section>

  <script src="./js/first.js"></script>
</body>

</html>