section#home {
    min-height: 100vh;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    padding: 3px;

    .controls_1 {
        height: 30px;
        width: 100%;
        background-color: #f35a5a;
        border-radius: 5px;
        margin-bottom: 3px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        input {
            background-color: #dcdcdc;
            padding: 3px 10px;
            border-radius: 5px;
            border: 1px solid gray;
            cursor: pointer;
        }
    }

    #midias_list {
        width: 100%;
        height: calc(100vh - 40px);
        overflow: scroll;
        border-radius: 5px;

        .item {
            background-color: #4b4b4b;
            margin-top: 10px;
            border-radius: 5px;
            padding: 3px;
            width: 100%;

            padding: 10px;

            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            .img {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    // text-align: center;
                    font-size: 18px;
                }

                img {
                    border-radius: 5px;
                    width: 200px;
                    height: 100px;
                    object-fit: cover;
                }
            }

            .controls {

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                padding: 5px 0;

                div {
                    color: black;
                    transition: all .2s ease-in;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.04);
                    }
                }

                .deletar {
                    background-color: #f35a5a;
                    width: 150px;
                    border-radius: 5px;
                    padding: 2px;
                    text-align: center;
                }

                .play {
                    background-color: #a9f56b;
                    width: 150px;
                    border-radius: 5px;
                    padding: 2px;
                    text-align: center;
                }
            }
        }
    }
}