section#home {
    min-height: 100vh;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #383838;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // overflow: hidden;
    padding: 3px;

    .controls_1 {
        // height: 30px;
        width: 100%;
        border-radius: 4px;
        margin-bottom: 3px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        // background-color: rebeccapurple;
        padding-top: 8px;

        #add_img {
            height: 40px;
            min-width: 100px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 5px;
            background: linear-gradient(225deg, #2f2f2f, #383838);
            box-shadow: -7px 7px 14px #232323,
                7px -7px 14px #454545;

            cursor: pointer;
        }

        #drop {
            height: 40px;
            min-width: 100px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 5px;
            background: linear-gradient(225deg, #2f2f2f, #383838);
            box-shadow: -7px 7px 14px #232323,
                7px -7px 14px #454545;
        }

    }

    #midias_list {
        width: 100%;

        height: calc(100vh - 40px);
        overflow: scroll;
        border-radius: 4px;

        padding: 0 20px;

        .item {
            background-color: #4b4b4b;
            margin-top: 20px;
            border-radius: 4px;
            padding: 10px 0;

            display: flex;
            // flex-direction: column;
            align-content: center;
            justify-content: center;

            border-radius: 10px;
            background: linear-gradient(45deg, #323232, #3c3c3c);
            box-shadow: 3px -3px 18px #161616, -3px 3px 18px #5a5a5a;

            .img {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    // text-align: center;
                    font-size: 14px;
                }

                img {
                    border-radius: 4px;
                    width: 160px;
                    height: 80px;
                    object-fit: cover;
                    // aspect-ratio: 16/9;
                }
            }

            .controls {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                padding: 5px 0;

                width: 140px;

                // background-color: rebeccapurple;

                .play_deletar {
                    height: 50px;
                    width: 50px;
                    color: #fff;
                    cursor: pointer;

                    display: flex;
                    // flex-direction: column;
                    align-content: center;
                    justify-content: center;


                    border-radius: 50%;
                    background-color: rebeccapurple;
                    background: linear-gradient(45deg, #323232, #3c3c3c);
                    box-shadow: 3px -3px 18px #161616, -3px 3px 18px #5a5a5a;

                    // font-size: 60px;

                    text-align: center;

                    svg {
                        color: #fff;
                        height: 100%;
                        transition: all .2s ease-in;
                        height: 100%;
                    }
                }

                // .play {
                //     // background-color: #a9f56b;
                //     // width: 150px;
                //     padding: 5px;
                //     text-align: center;
                // }

                // .deletar {
                //     padding: 5px;
                //     text-align: center;
                // }
            }
        }
    }
}