section#home {
    min-height: 100vh;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #383838;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    padding: 3px;

    .controls_1 {
        height: 30px;
        width: 95%;
        // background-color: #f35a5a;
        border-radius: 4px;
        margin-bottom: 3px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        border-radius: 10px;
        background: linear-gradient(45deg, #323232, #3c3c3c);
        box-shadow: 3px -3px 18px #161616,
            -3px 3px 18px #5a5a5a;

        #drop {
            height: 25px;
            min-width: 100px;
            // padding: 0 3px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 4px;
            background: linear-gradient(45deg, #323232, #3c3c3c);
            box-shadow: 3px -3px 18px #161616,
                -3px 3px 18px #5a5a5a;
        }

        input {
            padding: 0 3px;
            height: 25px;
            min-width: 100px;
            border-radius: 4px;
            cursor: pointer;

            border: none;

            border-radius: 4px;
            background: linear-gradient(45deg, #323232, #3c3c3c);
            box-shadow: 3px -3px 18px #161616,
                -3px 3px 18px #5a5a5a;
        }
    }

    #midias_list {
        width: 95%;

        height: calc(100vh - 40px);
        overflow: scroll;
        border-radius: 4px;

        .item {
            background-color: #4b4b4b;
            margin-top: 10px;
            border-radius: 4px;
            padding: 3px;

            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            border-radius: 10px;
            background: linear-gradient(45deg, #323232, #3c3c3c);
            box-shadow: 3px -3px 18px #161616,
                -3px 3px 18px #5a5a5a;

            .img {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    // text-align: center;
                    font-size: 18px;
                }

                img {
                    border-radius: 4px;
                    width: 200px;
                    height: 100px;
                    object-fit: cover;
                    // aspect-ratio: 16/9;
                }
            }

            .controls {

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                padding: 5px 0;

                div {
                    color: black;
                    transition: all .2s ease-in;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.04);
                    }
                }

                .play_deletar {
                    color: #fff;

                    border-radius: 10px;
                    background: linear-gradient(45deg, #323232, #3c3c3c);
                    box-shadow: 3px -3px 18px #161616,
                        -3px 3px 18px #5a5a5a;
                }

                .play {
                    // background-color: #a9f56b;
                    // width: 150px;
                    border-radius: 4px;
                    padding: 5px;
                    text-align: center;
                }

                .deletar {
                    // background-color: #f35a5a;
                    // width: 150px;
                    border-radius: 4px;
                    padding: 5px;
                    text-align: center;
                }
            }
        }
    }
}