section#home {
    min-height: 100vh;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #383838;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 3px;

    #app_control {
        height: 25px;
        width: 100%;
        background-color: #161616;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;

        z-index: 2;

        #window_title {
            -webkit-app-region: drag;
            width: 100%;
        }

        #window_control {
            height: 16px;
            width: 75px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                height: 18px;
                width: 18px;
                border-radius: 50%;
            }

            #min {
                background-color: #ffff6b;
            }

            #max {
                background-color: #6060ff;
            }

            #clo {
                background-color: #ff6666;
            }
        }
    }

    .controls_1 {
        // height: 30px;
        width: 100%;
        border-radius: 4px;
        margin-bottom: 3px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        // background-color: rebeccapurple;
        padding-top: 8px;

        #add_img {
            height: 40px;
            min-width: 100px;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 5px;
            background: linear-gradient(225deg, #2f2f2f, #383838);
            box-shadow: -7px 7px 14px #232323, 7px -7px 14px #454545;

        }

        #drop {
            height: 40px;
            min-width: 100px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 5px;
            background: linear-gradient(225deg, #2f2f2f, #383838);
            box-shadow: -7px 7px 14px #232323, 7px -7px 14px #454545;
        }

    }

    #midias_list {
        width: 100%;
        height: calc(100vh - 40px - 20px);
        overflow: scroll;
        border-radius: 4px;
        padding: 0 20px;

        .item {
            background-color: #4b4b4b;
            margin-top: 20px;
            border-radius: 4px;
            padding: 10px 0;

            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            border-radius: 10px;
            background: linear-gradient(45deg, #323232, #3c3c3c);
            box-shadow: 3px -3px 18px #161616, -3px 3px 18px #5a5a5a;

            .nome {
                font-size: 12px;
                text-align: center;
            }

            .divisor {
                height: 3px;
                width: 100%;
                background-color: #1f1f1f;
                margin-bottom: 3px;
            }

            .wrap {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0 3px;

                .img {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        border: 1px solid #707070;
                        border-radius: 4px;
                        width: 150px;
                        // height: 80px;
                        object-fit: cover;
                        aspect-ratio: 16/9;
                    }
                }

                .controls {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    padding: 5px 0;
                    width: 150px;

                    .play_deletar {
                        height: 50px;
                        width: 50px;
                        color: #fff;
                        cursor: pointer;

                        display: flex;
                        // flex-direction: column;
                        align-content: center;
                        justify-content: center;

                        border-radius: 50%;
                        background-color: rebeccapurple;
                        background: linear-gradient(45deg, #323232, #3c3c3c);
                        box-shadow: 3px -3px 18px #161616, -3px 3px 18px #5a5a5a;
                        // font-size: 60px;
                        text-align: center;

                        svg {
                            color: #fff;
                            height: 100%;
                            transition: all .2s ease-in;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}